doctype html
html(lang="zh")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title 考勤管理系统
  body
    #content
    each script in scripts
      script(src=script)
