doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title 考勤管理系统
    each style in styles
      link(rel="stylesheet", href=style)
  body
    #app
    each script in scripts
      script(src=script)
